// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1{
    font-family: 'Red Hat Text', sans-serif;
}
h4{
    font-family: 'Red Hat Text', sans-serif;
    font-style: italic;
}